<!DOCTYPE html>
<html>
    <head>
       <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css"/>
        <title>Weather</title>
    </head>
    </head>
    <body>
        {{>header}}
        <div>{{Errormessage}}</div>
        {{>footer}}
    </body>
    
</html>